@model IDentityProcess.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "RoleUpdate";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Role Güncelleme</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  @*ValidationSummary.ModelOnly, yalnızca model düzeyi için geçerli olan doğrulama mesajlarını görüntüler.
                                                                                    ValidationSummary.None belirtilirse, etiket yardımcısı hiçbir şey yapmaz*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />     @*<INPUT type=hidden> etiketi, sayfada gösterilmeyecek
        gizli bir değer tanımlamak için kullanılan bir form kontrolü oluşturulmasını sağlar.*@
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



